<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册学生账户</title>
</head>
<body>
    <form method="post" action="register.html">
        学号<input name="teacher_num"/><br>
        姓名<input name="name"/><br>
        密码<input name="password" ><br>
        确认密码<input name="re_password" type="password"><br>
        性别<input name="department" type="password"><br>
        学院<input name="college"><br>
        电话<input name="phone"><br>
        微信<input name="weixin"><br>
        QQ<input name="qq"><br>
        工作地点<input name="work_location"><br>
        工作性质<input name="work_character"><br>
        <input type="submit" name="注册">
    </form>
</body>
</html>